.menu_link {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  color: var(--text);

  &:hover {
    background-color: hsl(221, 23%, 40%);
    color: var(--textSoft);
  }
}
