:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}
.hidden {
  overflow: hidden;
}
.root {
  display: flex;
}
.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.content {
  flex: 4;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}
.active {
  background-color: #2e374a;
  color: var(--text);
}
