:root {
  --bg: hsl(222, 79%, 19%);
  --bgSoft: hsl(219, 50%, 18%);
  --text: white;
  --textSoft: #b7bac1;
  --btn: hsl(222, 89%, 29%);
}

html {
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}
button:hover {
  cursor: pointer;
}
.hidden {
  overflow: hidden;
  filter: blur(3px);
}
.root {
  display: flex;
}
.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}
.active {
  background-color: hsl(221, 23%, 40%);
  color: var(--text);
}
.form_container {
  min-width: 310px;
  max-height: 400px;
}
.label {
  position: relative;
  width: 100%;
}
.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.error_alert {
  position: absolute;
  font-size: 12px;
  color: red;
  left: 10px;
  bottom: -10px;
}
.button_input {
  margin-top: 20px;
  position: relative;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--btn);
  background-color: var(--btn);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}

.edit_btn {
  width: 20px;
  height: 20px;
  background: inherit;
  color: hsl(120, 95%, 47%);

  &:hover {
    color: hsl(120, 95%, 41%);
  }
}
.delete_btn {
  width: 20px;
  height: 20px;
  background: inherit;
  color: hsl(9, 100%, 64%);

  &:hover {
    color: hsl(9, 100%, 54%);
  }
}
.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.out_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.out_image_delete {
  position: absolute;
  top: -15px;
  right: 140px;
  cursor: pointer;
}
