.navbar {
  padding: 20px;
  background-color: var(--bgSoft);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;

    .input {
      background-color: transparent;
      border: none;
      color: var(--text);
      padding: 5px;
      letter-spacing: 2px;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
  }
}
