.footer {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--textSoft);

  &__logo {
    font-weight: bold;
  }

  &__text {
    font-size: 12px;
  }
}
