.header_main {
  background: var(--bg);
  color: var(--textSoft);
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__user {
      display: flex;
      justify-self: center;
      align-items: center;
      gap: 20px;

      .basket,
      .user {
        width: 76px;
        height: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .control {
          background-color: #f91155;
          border-radius: 8px;
          color: #fff;
          height: 16px;
          line-height: 17px;
          padding: 0 8px;
          position: absolute;
          right: -5px;
          top: -5px;
        }

        & > svg {
          height: 24px;
          width: 24px;
        }

        & > span {
          font-size: 14px;
        }
        &:hover {
          cursor: pointer;
          color: var(--text);
        }
      }
    }
  }
}
